/* Estilos para a seção */
section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para o quadrado */
.quadrado {
    background-color: white;
    position: relative;
    overflow: hidden;
    width: 55%;
    margin: 20px 20px 0 20px;
    border: 2px solid #333;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

/* Estilos para o conteúdo dentro do quadrado */
.quadrado .conteudo {
    padding: 12px;
    box-sizing: border-box;
    position: relative;
}

/* Estilos para o título dentro do quadrado */
.quadrado h3 {
    color: #11111f;
    font-size: 30px;
    margin: 10px 0;
}

/* Estilos para a imagem dentro do quadrado */
.quadrado img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 2px solid black; /* Corrigindo valor incorreto 'px' */
    box-sizing: border-box;
}

/* Estilos para a sobreposição dentro do quadrado */
.quadrado .overlay {
    font-size: large;
    color: rgb(0, 0, 0);
    padding: 15px;
    box-sizing: border-box;
}

/* Estilos para a lista dentro do quadrado */
.quadrado ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

/* Estilos para os itens da lista dentro do quadrado */
.quadrado li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

/* Estilos para o parágrafo dentro do quadrado */
.quadrado p {
    font-size: 20px;
    margin-bottom: 0px;
    padding: 0 20px 20px 20px;
    position: relative;
}

/* Estilos para a marcação antes dos itens da lista dentro do quadrado */
.quadrado li:before {
    content: "\2022";
    color: #2E7D32;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
}

/* Estilos para o botão dentro do quadrado */
.quadrado .botao {
    position: absolute;
    bottom: -20px; /* Ajuste para posicionar 20px acima da borda de baixo */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #47d7ac;
    color: #11111f;
    border: 2px solid #11111f;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
}

/* Estilos para o botão ao passar o mouse sobre o quadrado */
.quadrado .botao:hover {
    background-color: #11111f;
    color: #ffffff;
}

/* Estilos para o mapa e avaliação */
.mapa, .avaliacao, .quadrado {
    width: 55%;
    text-align: center;
    margin: 20px 0;
}

/* Estilos específicos para o formulário de avaliação */
.avaliacao {
    width: 55%;
    text-align: center;
    background-color: #f5f5f5;
    margin: 20px auto;
    border: 2px solid #11111f;
}

.avaliacao h3 {
    color: #11111f;
    font-size: 24px;
    margin-bottom: 10px;
}

.avaliacao label {
    margin-bottom: 5px;
    font-size: 16px;
}

.avaliacao input {
    padding: 8px;
    margin-bottom: 15px;
    width: calc(100% - 32px);
    box-sizing: border-box;
}

.avaliacao input[type="number"] {
    width: 50px;
}

.avaliacao button {
    padding: 10px 20px;
    background-color: #47d7ac;
    color: #11111f;
    border: 2px solid #11111f;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.avaliacao button:hover {
    background-color: #11111f;
    color: #ffffff;
}

/* Estilos para o histórico de avaliações */
#historico-avaliacoes {
    margin-top: 20px;
    width: 100%;
}

#historico-avaliacoes h4 {
    color: #11111f;
    font-size: 20px;
    margin-bottom: 10px;
}

#historico-avaliacoes p {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Estilos para a média de avaliações */
#media-avaliacoes h4 {
    color: #11111f;
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
}
