/* Estilos para o quadrado1 */
.quadrado1 {
    background-color: white;
    position: relative;
    overflow: hidden;
    height: 1010px; /* Altura fixa para o quadrado1 */
    max-width: 820px;
    margin: 20px 2.5%;
    border: 3px solid #333;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.quadrado1 .conteudo {
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.quadrado1 h3 {
    color: #11111f;
    font-size: 30px;
    margin: 10px 0;
}

.quadrado1 a {
    display: block;
}

.quadrado1 img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 3px solid #333;
    box-sizing: border-box;
}

.quadrado1 .overlay {
    font-size: large;
    color: rgb(0, 0, 0);
    padding: 0px;
    box-sizing: border-box;
}

.quadrado1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.quadrado1 li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

.quadrado1 p {
    font-size: 20px;
    margin-bottom: 0px;
    padding: 0 20px 20px 20px;
    position: relative;
}

.quadrado1 li:before {
    content: "\2022";
    color: #2E7D32;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
}

/* Estilos para o quadrado2 (mesmos estilos do quadrado1, repetidos para manter separação) */
.quadrado2 {
    background-color: white;
    position: relative;
    overflow: hidden;
    height: 1010px; /* Altura fixa para o quadrado2 */
    max-width: 820px;
    margin: 20px 2.5%;
    border: 3px solid #333;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.quadrado2 .conteudo {
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.quadrado2 h3 {
    color: #11111f;
    font-size: 30px;
    margin: 10px 0;
}

.quadrado2 a {
    display: block;
}

.quadrado2 img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 3px solid #333;
    box-sizing: border-box;
}

.quadrado2 .overlay {
    font-size: large;
    color: rgb(0, 0, 0);
    padding: 0px;
    box-sizing: border-box;
}

.quadrado2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.quadrado2 li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

.quadrado2 p {
    font-size: 20px;
    margin-bottom: 0px;
    padding: 0 20px 20px 20px;
    position: relative;
}

.quadrado2 li:before {
    content: "\2022";
    color: #2E7D32;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
}

/* Estilos para o quadrado (reaproveitando estilos do quadrado1) */
.quadrado {
    background-color: white;
    position: relative;
    overflow: hidden;
    height: 950px; /* Altura fixa para o quadrado */
    margin: 20px 2.5%;
    border: 3px solid #333;
    box-sizing: border-box;
    vertical-align: top;
}

.quadrado .conteudo {
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.quadrado h3 {
    color: #11111f;
    font-size: 30px;
    margin: 10px 0;
}

.quadrado a {
    display: block;
}

.quadrado img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 3px solid #333;
    box-sizing: border-box;
}

.quadrado .overlay {
    font-size: large;
    color: rgb(0, 0, 0);
    padding: 0px;
    box-sizing: border-box;
}

.quadrado ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.quadrado li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

.quadrado p {
    font-size: 20px;
    margin-bottom: 0px;
    padding: 0 20px 20px 20px;
    position: relative;
}

.quadrado li:before {
    content: "\2022";
    color: #2E7D32;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
}
